<div class="flex">
  <!-- サイドバー -->
  <div class="w-1/5 bg-black min-h-screen"></div>

  <!-- メインコンテンツ -->
  <div class="w-4/5 flex flex-col items-center min-h-screen bg-black text-white mx-auto">
  <h1 class="text-4xl mb-6 mt-8">観たい！一覧</h1>

  <% if @bookmarked_movies.present? %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20">
      <% @bookmarked_movies.each do |bookmark| %>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden p-4 flex flex-col items-center">
          <% if bookmark.movie.avatar.present? %>
            <%= link_to movie_path(bookmark.movie), class: "block w-full flex justify-center items-center bg-black" do %>
              <%= image_tag bookmark.movie.avatar.url, class: "w-full h-64 object-contain" %>
            <% end %>
          <% end %>
          <div class="p-2 text-center w-full">
            <h3 class="text-lg font-bold text-black"><%= bookmark.movie.title %></h3>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-lg">ブックマークした映画は存在しません。</p>
  <% end %>
</div>
