<body class="bg-black text-white">
<div class="flex flex-col items-center min-h-screen bg-black"> 
<h1 class= "text-5xl">ランキング</h1>

<% @ranked_movies.each.with_index(1) do |movie, i| %>
  <div class = "p-6">
  <p class = "text-3xl">第<%= i %>位
    <h1>観た人数: <%= movie.watched_count %></h1>
    <%= link_to movie_path(movie) do %>
      <%= image_tag movie.avatar.url, class: "w-full h-96 object-contain" %>
    <% end %>
  <% end %>
</div>
</body>
