<div class = "rounded-lg bg-orange-400 text-white">
  <% if current_user %>
    <% if current_user.bookmark?(@movie) %>
      <%= render 'unbookmark', { movie: @movie } %>
    <% else %>
      <%= render 'bookmark', { movie: @movie } %>
    <% end %>
    <% else %>
    <%= link_to 'ログインして', user_session_path, class: "rounded-lg  text-xl block text-black flex items-center inline-block bg-orange-400 px-2 py-1"%>
  <% end %>
</div>