<div class = "rounded-lg bg-orange-400 text-white">
  <% if current_user %>
    <% if current_user.bookmark?(@movie) %>
      <%= render 'unbookmark', { movie: @movie } %>
    <% else %>
      <%= render 'bookmark', { movie: @movie } %>
    <% end %>
    <% else %>
    <%= link_to 'ログインして', user_session_path, class: "text-black"%>
  <% end %>
</div>