  <div class = "rounded-lg bg-orange-400 text-white ">
  <% if current_user %>
    <% if current_user.watched?(@movie) %>
      <%= render 'unwatched', { movie: @movie } %>
    <% else %>
      <%= render 'watched', { movie: @movie } %>
    <% end %>
  <% else %>
    <%= link_to 'ブックマークしよう！', user_session_path, class: "text-black" %>
  <% end %>
</div>