<div class="flex items-center justify-center h-screen">
  <h1>映画一覧</h1>

  <ul class="flex flex-wrap list-none p-0">
    <% @movies.each do |movie| %>
      <li class="mr-2 mb-2"> <!-- 画像間の余白を調整 -->
        <% if movie.avatar.present? %>
          <%= link_to movie_path(movie) do %> <!-- コードの可読性向上 --><!-- 画像をリンクにして詳細画面へ遷移する -->
            <%= image_tag movie.avatar.url,
                          class: "w-40 h-40 object-cover" %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
