<div class="h-screen inline-block bg-black text-center text-white p-8">
  <h1 class="text-3xl font-bold mb-6">投稿したレビュー一覧</h1>
  
  <div class="space-y-4">
    <% @reviews.each do |review| %>
      <div class="grid grid-cols-3 gap-4 bg-gray-200 text-black rounded-lg p-6 w-auto">
        <p class="text-l"><%= review.body %></p>
      </div>
    <% end %>
  </div>
</div>
