<div class="sidebar">
  <ul>
    <li><a href="/search">検索</a></li>
    <li><a href="/">作品一覧</a></li>
    <li><a href="/ranking">ランキング</a></li>
    <li><a href="/recommend">あなたへおすすめ</a></li>
    <li><a href="/bookmark">観たい！一覧</a></li>
    <li><a href="/login">ログイン</a></li>
    <li><a href="/new_user">新規登録</a></li>
    <li><a href="/otoiawase">お問い合わせ</a></li>
    <li><a href="/privacy">プライバシーポリシー</a></li>
  </ul>
</div>