<div class="fixed top-0 left-0 h-full w-1/4 bg-black text-black">
  <ul class="list-none font-bold">
    <!-- サイドバー項目 -->
    <li class="px-6 py-3 hover:bg-gray-100">
      <div class="inline-block bg-gray-400 px-2 py-1 text-white">検索</div>
    </li>
    <li class="px-6 py-3 border-gray-300 hover:bg-gray-100">
  <a href="/movies" class="inline-block bg-orange-500 px-2 py-1 text-black">
    作品一覧
  </a>
</li>

    <li class="px-6 py-3 hover:bg-gray-100">
      <div class="inline-block bg-orange-500 px-2 py-1">ランキング</div>
    </li>
    <li class="px-6 py-3 hover:bg-gray-100">
      <div class="inline-block bg-orange-500 px-2 py-1">あなたへおすすめ！</div>
    </li>
    <li class="px-6 py-3 hover:bg-gray-100">
      <div class="inline-block bg-orange-500 px-2 py-1">観たい！一覧</div>
    </li>
    <li class="px-6 py-3 hover:bg-gray-100">
      <div class="inline-block bg-orange-500 px-2 py-1">ログイン</div>
    </li>
    <li class="px-6 py-3 hover:bg-gray-100">
      <div class="inline-block bg-gray-400 px-2 py-1 text-white">お問い合わせ</div>
    </li>
    <li class="px-6 py-3 hover:bg-gray-100">
      <div class="inline-block bg-gray-400 px-2 py-1 text-white">プライバシーポリシー</div>
    </li>
  </ul>
</div>
