<div class="flex flex-col items-center min-h-screen bg-black text-white">
<h2 class = "text-white text-4xl" >あなたへのおすすめ映画</h2>

<% if @recommend_movies.present? %>
  <ul>
    <% @recommend_movies.each do |movie| %>
      <li>
      <%= link_to movie_path(movie) do %> <!-- 画像をリンクにして詳細画面へ遷移する -->
        <%= image_tag movie.avatar.url,
                      class: "w-full h-96 object-contain" %>
      <% end %>
      </li>
    <% end %>
  </ul>

<% end %>
</div>