<div class="flex items-center justify-center h-screen w-6/7 ml-auto bg-gray-500">
  <div class="text-center">
    <h1 class="text-8xl font-bold text-white mb-4">こみてらっ！</h1>
    <p>このアプリはB級ホラー映画や怖くないホラー映画を紹介するアプリです。</p>
    <p>気になる作品があったら観たい！ボタンを押して保存しましょう。</p>
    <p>ブックマークとして保存されます。</p>
    <p>もしも、もう観たよ！！って作品がある時は観たよ！ボタンを押して下さいね。</p>
    <p>観た人が多い作品はランキングにしています。（本リリースでやります）</p>
    <p>レコメンド機能によってあなただけのおすすめ映画も紹介する機能もあるので</p>
    <p>よかったら試して下さい（本リリースでやります）</p>
    </h1>
    <%= button_to 'さぁ！まだ観ぬ世界へ！！', movies_path, method: :get, class: 'px-6 py-2 bg-orange-500 text-white hover:bg-orange-700' %>

  </div>
</div>