<div class="flex items-center justify-center bg-black p-4">
  <div id="review-form" class="bg-white text-black p-4 shadow-md rounded-md max-w-2xl w-5/6">
    <h2 class="text-xl font-bold mb-2 text-center">レビュー投稿</h2>
      <%= form_with model: @review, url: movie_reviews_path(@movie) do |f| %>
        <%= f.label :body, class: "form-label text-lg" %>
        <%= f.text_area :body, class: "form-control mb-3 bg-white w-full", rows: "6", placeholder: " ※ログインしてから投稿してください" %>
        <div class="flex justify-center">
          <%= f.submit '投稿', class: "hover:bg-orange-500 rounded-lg bg-orange-400 text-black w-24 h-12 text-lg" %>
        </div>
      <% end %>

  </div>
</div>
